/* login.html css 요소 */
.sep-line {
	margin: 30px 40px 5px;
	padding-bottom: 9px;
	border-bottom: 1px solid #D0CECE;
	font-size: large;
	color: #595959;
}

.center {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.control-label-left {
    padding-top: 5px;
    padding-left: 20px;
    margin-top: 10px;
    color: #595959;
    font-size: 15px;
}

.des-padding {
	padding: 5px 0 15px;
}

.myForm-control {
    display: block;
    width: 80.5%;
    padding: 6px 12px;
    font-size: 14px;
    height: 38px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
}

.login-btn {
	padding: 8px 0;
	background-color: #4472C4;
	color: #fff;
	border: none;
	font-size: 18px;
}

.login-bottom {
    margin-top: 20px;
}

.login-bottom .links {
    float: right;
}

.checks {
    position: relative;
}

/* 기존 체크박스 display none */
.checks input[id="isSaveId"] {
    display: none;
}

/* 체크박스 디자인 - 일반 상태 */
.checks input[id="isSaveId"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* 체크박스 디자인 */
.checks input[id="isSaveId"] + label::before {
    content: ' ';
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center; 
    vertical-align: middle;
    border: 2px solid rgb(0, 0, 0);
    background-color: #FFFFFF;
    margin: 5px 0 5px 0;
}

/* 체크박스 디자인 - 체크 되었을 경우 */
.checks input[id="isSaveId"]:checked + label::before {
    content: '✔';
    font-size: 20px;
    background-color: #FFFFFF;
}

.chkText span {
    padding-left: 15px;
}

.signup-btn {
	background-color: #FFC000;
	color: #fff;
	margin: 0 5px 10px;
	border: 2px solid #7F6000;
	padding: 5px 15px;
}

.searchId-btn {
    background-color: #70AD47;
    color: #fff;
    margin: 0 0 10px 5px;
    border: 2px solid #548235;
    padding: 5px 15px;
}
/* searchid.phtml css 요소 */
.searchid-input {
    display: block;
    width: 72.2%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
}

.searchid-btn {
    padding: 8px 0 8px 0;
    background-color: #4472C4;
    color: #fff;
    border: none;
    font-size: 18px;
}

.back-btn {
    float: right;
    background-color: #70AD47;
    color: #fff;
    margin: 20px 0 10px 5px;
    padding: 7px 24px;
    border: none;
}

.search-result {
    text-align: center;
    font-size: x-large;
    padding: 46px 0 46px 0;
}

.searched-id {
    text-align: center;
    background-color: #fff;
    border: 2px solid #ccc;
    font-size: x-large;
}

.search-description {
    text-align: center;
    margin-top: 10px;
}

/* signup.php css 요소 */
.fence {
    border: 2px solid black;
    padding-left: 3%;
    width: 500px;
}

.signup-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-title {
    font-size: medium;
    margin-top: 10%;
    margin-bottom: 25%;
}

.signup-title .subtitle {
	color: #8497B0;
	padding: 10px;
}

.category-design {
    background-color: #BFBFBF;
    color: black;
    text-align: center;
    padding: 7px;
    font-size: 13px;
    width: 80px;
    margin-left: 24px;
}

.signup-button {
	float: right;
	margin: 50px 4px 20px 0;
}

.submit-btn {
    margin-right: 10px;
    color: white;
    padding-left: 45px;
    padding-right: 45px;
    border: none;
}

.submit-gray-color {
    background-color: #C8C8C8;
}

.submit-green-color {
    background-color: #70AD47;
}

.cancle-btn {
    background-color: #FFFFFF;
    margin-left: 10px;
    padding-left: 45px;
    padding-right: 45px;
    border: 1px solid #A6A6A6;
}

.myForm-control3 {
    width: 70%;
    height: 32px;
    margin: 0 12px 0 12px;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    line-height: 32px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid black;
}

/* boardList.php css 요소 */

.menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #595959;
    width: 100%;
    min-height: 50px;
}

.menutitle {
    font-size: 30px;
    color: white;
    padding: 10px;
}

.menutitle a {
    text-decoration: none;
    color: white;
}

.info-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.user-info {
    color: #FFFFFF;
    margin-top: 5px;
    padding: 15px;
    font-size: large;
    cursor: pointer;
}

.logout-btn {
    color: #000000;
    background-color: #FFFFFF;
    border: none;
    margin-left: 10px;
    padding: 5px 15px;
}

/* boardList.php - 페이지 상단 요소 */
.list-title {
	font-size: x-large;
	padding-top: 10px;
	padding-bottom: 15px;
}

.list-descript {
	font-size: medium;
	border: 1px solid rgb(191, 191, 191);
	border-radius: 8px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.small-ele {
	color: rgb(132, 151, 176);
}

/* boardList.php - 게시글 상단 요소 */

/*
.search-member-form {
    margin: 1em 0;
    float: left;
}
*/

.zend_form {
    margin: 1em 0;
    float: left;
}
/*
.board-upper::after {
    content:'';
    display:block;
    clear:both;
}*/

.selectbox {
    width: 100px;
    height: 32px;
    background-color: rgb(191, 191, 191);
    border: 1px solid rgb(191, 191, 191);
    color: white;
    padding: 4px 0 4px;
    text-align: center;
}

.searchCnt {
    float: left;
    margin: 1.4em 0 0 2em;
}


.searchCnt::after {
    content: '';
    display: block;
    clear: both;
}

.member-name {
    cursor: pointer;
}

.write-btn-div {
    float: right;
    margin-top: 16px;
}

.write-btn-div::after {
    content: '';
    display: block;
    clear: both;
}

.s-input {
    border: 1px solid rgb(191, 191, 191);
    height: 32px;
}

.s-button {
    margin-bottom: 2px;
    height: 32px;
    background-color: rgb(143, 170, 220);
    border-radius: 4px;
    padding: 4px 30px 4px 30px;
    color: white;
}

.write-btn {
    padding: 5px 25px;
    color: white;
    background-color: #50AAFF;
    border: none;
    border-radius: 5px;
}

.view-btn {
	background-color: rgb(255, 192, 0);
	color: white;
	padding-right: 20px;
	padding-left: 20px;
}

.del-btn {
	background-color: rgb(255, 0, 0);
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.pagination-class {
    margin: 20px 0;
    text-align: center;
}

.front-and-back {
    border: 1px solid #C8C8C8;
    padding: 5px 20px;
    text-decoration: none;
    margin: 0 2px;
}

.disable-btn {
    color: #ffffff;
    background-color: #C8C8C8;
}

.page-btn {
    border: 1px solid #C8C8C8;
    padding: 5px 10px;
    margin: 0 2px;
}

.active-color {
    color: #000000;
    background-color: #FFFFFF;
}

.active-color:hover {
    text-decoration: none;
    color: #000000;
    background-color: #C8C8C8;
}

.current-page {
    color: #FFFFFF;
    background-color: #2F5597;
}
/* manage/manage - 회원관리 페이지 요소 */
.common-btn {
    padding: 3px 20px;
    margin: 0 5px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.brown-color {
    background-color: #843C0C;
}

.gray-color {
    background-color: #7F7F7F;
}

.green-color {
    background-color: #00B050;
}

.red-color {
    background-color: #FF0000;
}

/* /manage/modify 회원수정 페이지 요소 */
.change-pw-btn {
    background-color: #B4C7E7;
    border: none;
    padding: 7px 20px;
    margin: 0 0 20px 9px;
    color: #000000;
    font-weight: bold;
}

.pwPart {
    margin-bottom: 15px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.pw-category-design {
    background-color: #BFBFBF;
    color: black;
    text-align: center;
    padding: 7px;
    font-size: 13px;
    width: 120px;
    margin-left: 9px;
    margin-bottom: 10px;
}

.myform-control4 {
    width: 66.5%;
    height: 32px;
    margin: 0 0 0 13px;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    line-height: 32px;
    color: #555;
    border: 2px solid black;
}

.member-modify-title {
    font-size: medium;
    margin-top: 10%;
}

.title-before {
    margin-bottom: 36%;
}

.title-after {
    margin-bottom: 16%;
}

.modify-button {
    float: right;
    margin: 0 4px 20px 0;
}

.background-gray {
    background-color: #E7E6E6;
}

/* boardList.php - 게시글 리스트 요소 */
th, td {
    text-align: center;
    vertical-align: middle;
}
th {
    padding: 15px 0;
}

td {
    padding: 10px 0;
}

.board-SearchCnt {
    float: left;
    margin: 1.4em 0 0 2em;
}
/*
.board-SearchCnt::after {
    content: '';
    display: block;
    clear: both;
}
*/

.myTable {
    margin-top: 15px;
    width: 100%;
}

.add-top-line {
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.list-body {
	margin-top: 50px;
}

.add-bottom-line {
    color: #7F7F7F;
    border-bottom: 1px solid #BFBFBF;
}

.text-align-left {
    text-align: left;
}

/* boardList.php - 게시글 하단 페이징 요소 */
.pagination > li > a {
	float: none;
}

/* logoutOk.html css 요소 */
.logout-text {
    font-size: large;
    margin: 30px 20px 20px;
}

.containerFooter {
    display: flex;
    justify-content: space-between;
}

.threeMsg {
    height: 60px;
    line-height: 90px;
    margin-left: 20px;
    color: rgb(127, 127, 127);
}

.logoutOk-btn {
    margin-top : 20px;
    margin-bottom : 20px;
    padding: 10px 25px;
    font-size: medium;
    background-color: rgb(68, 114, 196);
    border: none;
    color: white;
}

/* writeBoard.php 요소 */
.list-descript2 {
    font-size: medium;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 8px;
    padding: 15px 10px;
}

.control-label-center {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background-color: rgb(191, 191, 191);
    color: white;
}

.myForm-control2 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 34px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.myForm-control2-textarea {
    display: block;
    width: 100%;
    height: 30%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.write-button {
    float: right;
    margin-right: -15px;
    font-size: medium;
}

.write-button .submit-btn {
	background-color: rgb(112, 173, 71);
    margin-right: 10px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
}
.write-button .cancle-btn {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgb(166, 166, 166);
}

.space-form {
    margin-left: 15px;
}

.input-writer {
    color: rgb(191, 191, 191);
    text-align: center;
}

.input-file {
    height: 34px;
    font-size: 15px;
}

/* viewBoard.php 요소 */
.view-box {
	margin: 150px 30px 0 30px;
}

.page-header-custom {
    font-size: x-large;
    margin: 50px 20px 0;
    padding: 10px 20px 10px;
    border-bottom: 3px dashed #eee;
    color: rgb(118, 113, 113);
}

.info {
    font-size: large;
    float: right;
    margin-top: 10px;
    color: rgb(127, 127, 127);
}

.writer-info {
    font-weight: bold;
}

.space {
    margin-right: 20px;
    margin-left: 20px;
}

.text-box {
    height: 300px;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 3px dashed #eee;
    font-size: 20px;
    line-height: 150%;
    color: rgb(118, 113, 113);
}

.file-info {
	margin: 0 20px;
    padding: 20px;
    border-bottom: 3px dashed #eee;
}

.file-link {
    text-decoration: none;
    color: rgb(127, 127, 127);
}

.time-info {
	margin: 0 20px;
    padding: 20px;
    font-size: medium;
}

.time-info .line {
    display: flex;
    margin: 5px 0;
}

.time-title {
    font-weight: bold;
    color: rgb(127, 127, 127);
}

.view-page-button {
    float: right;
    font-size: medium;
}

.view-page-button .submit-btn {
    background-color: rgb(112, 173, 71);
    margin-right: 10px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
}
.view-page-button .cancle-btn {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgb(166, 166, 166);
}

.list-btn {
	background-color: white;
	color: black;
	border: 1px solid rgb(127, 127, 127);
}

/* editBoard.php 요소 */
.del-file-btn {
    color: white;
    background-color: rgb(237, 125, 49);
    border: 2px solid rgb(174, 90, 33);
}

.time-info2 {
    font-size: medium;
    margin-left: -15px;
}

.edit-time-float {
    float: left;
}

.edit-time-diplay {
    float: left;
}

.edit-time-diplay::after {
    content: '';
    display: block;
    clear: both;
}

.file-name {
    margin: 0 10px 15px;
}

.update-time {
    margin-right: 49%;
}